{% extends "base.html" %} 
{% load thumbnail %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-2 mt-1 text-white"> Here are  {{ blog.Name }}  related posts</h3>
                    <!-- <p class="text-light">We Love Django As much as you do..! &nbsp
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.Title }}</h2>
                    <p class="card-text text-muted h6">{{ post.Author }} | {{ post.Date}} </p>
                    <p class="card-text">{{post.Content|slice:":200"| safe }}</p>
                    {% if post.Image %}
                        {% thumbnail post.Image "300x400" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                    {% endif %}
                    
                    <!--  Label -->
                    
                    
                </div>
                <span >
                        {% for tag in post.tags.all %}
                         
                         <a href="{% url 'blog:post_list' post.blog_id %}?tag={{ tag }}" 
                                class="badge badge-secondary"
                        >
                        {{ tag }}
                        </a>
                        {% endfor %}
                    </span>
                 <a href="{% url 'blog:post_detail' post.Slug  %}" class="btn btn-link">Read More &rarr;</a> 
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}