{% extends 'base.html' %} {% block content %}
{% load thumbnail %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">    
        <a href="{% url "blog:post_list" post.blog.id %}">Back to blog's posts</a>     

        <h1>{% block title %} {{ post.Title }}  {% endblock title %}            
        </h1>
        
         <p class=" text">{{ post.Author }}  {{ post.Date }} 
           {% if user == post.Author %}
            <a href="{% url "blog:post_update" post.id %}">
               Edit
           </a>
            {% endif %}
          </p> 
        <p class="card-text ">{{ post.Content |safe}}</p>
        {% if post.Image %}
        {% thumbnail post.Image "300x400" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {% endif %}

        
      </div>
    <div>
      <a href="#" onClick="document.getElementById('likebutton').submit()">Like </a> {{post.likes}} 
        <a href="#" onClick="document.getElementById('dislikebutton').submit()">Dislike</a> {{post.dislikes}}
        <form id="likebutton" method="POST" action="/post/{{post.id}}/preference/1/">
        {% csrf_token %}
        <input type="hidden">
        </form>
    
        <form id="dislikebutton" method="POST" action="/post/{{post.id}}/preference/2/">
        {% csrf_token %}
        <input type="hidden">
      </form>
    </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="col-md-8 card mb-4 mt-3 ">
      <div class="card-body">
        
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body| safe | linebreaks  }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  
</div>

{% endblock content %}

