
{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This programme is offered by HSE in collaboration with Sberbank. Its goal is to train future professionals to analyse different data forms (numerical and text data, graphs and images), develop models for machine learning and predictable analytics and, equally important, to create business value using mathematical models. </p>
        <a href="https://www.hse.ru/en/ma/fintech/"
           class="btn btn-link">Check more</a>
    </div>
</div>
</div>

{% endblock sidebar %}